<% content_for :title, "Visualizando item" %>
<div class="w-full">
  <h1 class="font-bold text-4xl">
    <% if @item.drink? %>
      <%= icon("drinks", size: 42) %>
    <% elsif @item.food? %>
      <%= icon("food", size: 42) %>
    <% else %>
      <%= icon("items", size: 42) %>
    <% end %>
    <%= @item.name %>
    <span class="text-lg bg-gray-200 rounded px-3 py-1 ml-3"><%= @item.type_name %></span>
  </h1>
  <div class="flex space-x-2 my-4">
    <%= link_to "Nova Bebida", new_item_path(type: 'Drink'), class: "btn btn-primary" %>
    <%= link_to "Nova Comida", new_item_path(type: 'Food'), class: "btn btn-secondary" %>
    <%= link_to "Editar", edit_item_path(@item), class: "btn btn-outline" %>
  </div>
  <div id="<%= dom_id @item %>" class="w-full sm:w-auto my-5 space-y-5">
    <div>
      <strong class="block font-medium mb-1">Nome:</strong>
      <%= @item.name %>
    </div>
    <% if @item.code.present? %>
      <div>
        <strong class="block font-medium mb-1">Código:</strong>
        <%= @item.code %>
      </div>
    <% end %>
    <div>
      <strong class="block font-medium mb-1">Marca:</strong>
      <%= @item.brand&.name || 'Não informada' %>
    </div>
    <% if @item.respond_to?(:kind_name) %>
      <div>
        <strong class="block font-medium mb-1">Tipo:</strong>
        <%= @item.kind_name %>
      </div>
    <% end %>
    <% if @item.respond_to?(:pack_name) %>
      <div>
        <strong class="block font-medium mb-1">Embalagem:</strong>
        <%= @item.pack_name %>
      </div>
    <% end %>
    <% if @item.drink? %>
      <div class="flex space-x-4">
        <div class="w-1/2">
          <strong class="block font-medium mb-1">Tamanho:</strong>
          <%= @item.size %>ml
        </div>
        <div class="w-1/2">
          <strong class="block font-medium mb-1">Álcool:</strong>
          <%= @item.acl %>%
        </div>
      </div>
    <% elsif @item.food? && @item.size %>
      <div>
        <strong class="block font-medium mb-1">Tamanho:</strong>
        <%= @item.size %>g
      </div>
    <% end %>
  </div>
  <%= link_to "Voltar", items_path, class: "btn btn-secondary" %>
  <%= link_to "Excluir", @item, method: :delete, class: "btn btn-danger", confirm: "Tem certeza?" %>
</div>
